include LICENSE
include README
include src/pychm/*py
include src/pychm/analysis/*py
include src/pychm/cg/*py
include src/pychm/cg/analysis/*py
include src/pychm/const/*py
include src/pychm/io/*py
include src/pychm/lib/*py
include src/pychm/scripts/*py
recursive-include src/pychm/data/ *
recursive-include doc/ *
recursive-include examples/ *
recursive-include test/ *
